@model IEnumerable<NongPham_Nhom2.Models.LoaiSanPham_>
<style>
    .text-green{
        color:green;
    }
</style>
<ul class="text-center nav p-3 menu">
    @foreach (var item in Model)
    {
        <li  class="nav-item">
            <a href="@Url.Action("SanPhamTheoLoai", "LoaiSanPham", new { MaLoai = item.MaLoai })" class="text-green nav-link" style=" text-decoration: none; font-weight: bold;">@item.TenLoai</a>
        </li>
    }
</ul>