@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_DangNhapLayout.cshtml";
}

<br />
<br />
<br />
<div class="container-fluid mt-5">
    <div class="row">
        @Html.Action("SanPhamPartial", "KhachHang")
    </div>
</div>
