<style>
    .sup {
        position: relative;
        bottom: 3ex;
        font-size: 80%;
        right:2ex;
    }
</style>

<span style="border-radius:50%;" class="sup bg-danger font-weight-bold text-white  pl-2 pr-2 pt-1 pb-1">@ViewBag.TongSoLuong</span>