@using NongPham_Nhom2.Models
@model List<KhuyenMai_>
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_DangKyLayout.cshtml";
}
<link href="~/NongPham/css/css/bootstrap.css" rel="stylesheet" />
<div class="container-fluid">
    <div style="border-radius:30px;" class="bg-light border border-success">
        <div class="col text-center pt-3"><div class="text-uppercase text-success font-weight-bold border-bottom border-success " style="font-size:40px;">giới thiệu</div></div>
        <div class="row mt-3 ml-2 pb-3">
            <div class="col p-3">
                <a class="h2 text-center font-weight-bold">Thực phẩm hữu cơ Organica có chứng nhận quốc tế, hoàn hảo cho sức khỏe của gia đình bạn. </a><br /><br />
                <a class="text-center">Vào năm 2015, sau nhiều nỗ lực tự phát triển và sản xuất, trang trại Organica tại Long Thành, Đồng Nai đã được cấp chứng nhận hữu cơ của Mỹ (USDA) và Liên minh châu Âu (EU), trở thành trang trại rau nhiệt đới hữu cơ đầu tiên ở Việt Nam. Tiếp nối sau đó, năm 2017 vườn Organica Ba Vì cũng đã được tổ chức Control Union đánh giá đạt tiêu chuẩn hữu cơ của Mỹ và châu Âu. Organica còn sử dụng Traceverified, dịch vụ truy xuất nguồn gốc điện tử duy nhất của Việt Nam, với mong muốn minh bạch thông tin và cam kết quá trình canh tác hữu cơ của mình với người tiêu dùng.</a><br />
               
                <img width="600" src="~/NongPham/Images/GioiThieu1.jpg" /><br /><br />
                 <a>Bên cạnh các sản phẩm phát triển tại các trang trại, Organica cũng phối hợp với các đơn vị khác có chứng nhận hữu cơ để phân phối các sản phẩm đến tay người tiêu dùng VN và nhập khẩu các sản phẩm hữu cơ để phân phối trong nước. Đến nay, Organica đã có gần 1.000 mặt hàng có chứng nhận hữu cơ các loại bao gồm các loại thực phẩm tươi, thực phẩm khô, các loại gia vị hữu cơ, mỹ phẩm hữu cơ, sản phẩm chăm sóc gia đình đến các sản phẩm chăm sóc cá nhân làm từ bông (cotton) có chứng nhận hữu cơ quốc tế. Hiện Organica đang làm việc với các đối tác tại Mỹ và EU để đưa về VN các sản phẩm hữu cơ còn thiếu tại VN để hoàn thiện các chủng loại sản phẩm hữu cơ đáp ứng yêu cầu của khách hàng.</a> <br />
                <img width="600" src="~/NongPham/Images/GioiThieu2.jpg" /><br /><br />

                <p>Theo cam kết từ khi mới thành lập, các cửa hàng Organica dành 80% diện tích trưng bày và chủng loại sản phẩm để bán các loại thực phẩm hữu cơ có chứng nhận trong và ngoài nước. 20% còn lại dành cho các sản phẩm đang trong quá trình chuyển đổi sang canh tác hữu cơ, sản phẩm tự nhiên có chứng nhận thân thiện với môi trường (như MSC- Khai thác thủy sản bền vững; hay UTZ- chứng nhận phát triển bền vững cho ca cao, cà phê và trà), và một phần nhỏ trong đó là sản phẩm đặc sản địa phương. Tất cả các sản phẩm này đều có các chứng nhận về vệ sinh an toàn thực phẩm và truy xuất được nguồn gốc.</p><br />

            </div>

        </div>
        <br /> <br />
    </div>
</div>
<br /> <br />

