@using NongPham_Nhom2.Models
@model List<KhuyenMai_>
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_DangKyLayout.cshtml";
}
<link href="~/NongPham/css/css/bootstrap.css" rel="stylesheet" />
<div class="container-fluid">
    <div style="border-radius:30px;" class="bg-light border border-success">
        <div class="col text-center pt-3"><div class="text-uppercase text-success font-weight-bold border-bottom border-success " style="font-size:40px;">HƯỚNG DẪN MUA HÀNG</div></div>
        <div class="row mt-3 ml-2 pb-3">
            <div class="col">
                <a>Có 2 cách để bạn dễ dàng mua hàng trực tuyến tại <span class="font-weight-bold">Oranica</span>. Bạn vui lòng chọn 1 trong 2 cách sau: </a>
                <p class="font-weight-bold">Cách 1: Gọi điện đặt hàng qua số điện thoại  (08) 3602 11 33</p> <br />
                <a class="font-weight-bold">Cách 2: Đặt hàng ngay trên website: Oranica. Bạn vui lòng thực hiện theo các bước: </a>.<br />
                <a><span class="font-weight-bold">Bước 1:</span> Chọn sản phẩm cần mua và click vào nút <span class="font-weight-bold">“Mua ngay”</span> </a>.<br />
                <a><span class="font-weight-bold">Bước 2:</span> Sản phẩm đã được cho vào <span class="font-weight-bold">"Giỏ hàng"</span>, có 2 phương án cho bạn lựa chọn:</a><br />
                <a><span class="font-weight-bold">1. </span>Bạn có thể chọn thêm các sản muốn mua và tiếp tục ấn <span class="font-weight-bold">"Mua ngay"</span> để thêm vào <span class="font-weight-bold">"Giỏ hàng"</span>.</a> <br />
                <a><span class="font-weight-bold">2. </span>Ấn vào <span class="font-weight-bold">"Giỏ hàng"</span> kiểm tra các sản phẩm và ấn nút <span class="font-weight-bold">"Thanh toán"</span>.</a>

            </div>

        </div>
        <br /> <br />
    </div>
</div>
<br /> <br />

