@using NongPham_Nhom2.Models
@model List<KhuyenMai_>
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_DangKyLayout.cshtml";
}
<link href="~/NongPham/css/css/bootstrap.css" rel="stylesheet" />
<div class="container-fluid">
    <div style="border-radius:30px;" class="bg-light border border-success">
        <div class="col text-center pt-3"><div class="text-uppercase text-success font-weight-bold border-bottom border-success " style="font-size:40px;">Oranica tuyển dụng</div></div>
        <div class="row mt-3 ml-2 pb-3">
            <div class="col p-3">
                <a>Do nhu cầu phát triển, chúng tôi đang tuyển dụng nhiều nhân sự cho các vị trí như sau:</a><br />
                <a><span class="font-weight-bold">1. Cửa hàng trưởng/ Cửa hàng phó: </span>8 người. Có kinh nghiệm quản lý cửa hàng trên 1 năm. Yêu thích nghề bán hàng, giao tiếp tốt và quan tâm đến lĩnh vực thực phẩm hữu cơ.</a> <br />
                <a><span class="font-weight-bold">2. Nhân viên bán hàng: </span>10 người. Không yêu cầu bằng cấp chỉ cần bạn yêu thích nghề bán hàng, giao tiếp tốt và quan tâm đến lĩnh vực thực phẩm hữu cơ.</a><br /><br />
                <p class="font-weight-bold text-uppercase">quyền lợi &amp; cơ hội thăng tiến</p>

                <p>Khi trở thành thành viên của Organica, bạn sẽ được hưởng đầy đủ các chế độ và chính sách theo quy định của pháp luật như lương, bảo hiểm, kỳ nghỉ công ty, hỗ trợ đào tạo...</p> <br />
                <p>Tại Organica, bằng cấp không phải là điều quan trọng nhất. Năng lực thực tế là thước đo giá trị của bạn. Là một công ty khởi nghiệp đang phát triển trong lĩnh vực mới ở Việt Nam là Thực phẩm hữu cơ, bạn có nhiều cơ hội để trở thành các nhân sự quản lý, nhân sự cấp cao ngay trong thời gian ngắn nếu thể hiện được năng lực của bản thân. Cơ hội thăng tiến là không giới hạn. Hãy cùng chúng tôi đem thực phẩm hữu cơ đến với người Việt.</p><br />
                <p>
                    Vui lòng gửi hồ sơ và các câu hỏi liên quan về email: <span class="font-weight-bold">minh.ho@organica.vn</span> (Ghi rõ vị trí tuyển dụng ở tiêu đề email)
                    Hoặc gửi hồ sơ trực tiếp tại Văn phòng Organica, 24 Nguyễn Quý Đức, Phường An Phú, Tp.Thủ Đức, Tp.Hồ Chí Minh.
                    <span class="font-weight-bold">Hotline: 081 664 3636</span>
                </p>

            </div>

        </div>
        <br /> <br />
    </div>
</div>
<br /> <br />

