@{
    ViewBag.Title = "LienHeZalo";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Liên hệ</title>
</head>
<style>
    .bg {
        background-image: linear-gradient(white, rgb(51, 255, 51), white);
        object-fit: fill;
    }
</style>



<div class="container bg" style="background-color:white; width: 100%; border-radius: 10px;">
    <h2 style="text-align:center;">Quét mã QR để nhắn tin với chúng tôi</h2>

    <img src="~/NongPham/Images/QRCodeZalo.png" alt="" style="margin-left: 23.5%; width: 50%;">
    <br /><br />
    <br />
</div>
